{% extends 'base.html.twig' %}

{% block body %}
    {%  for element in supports %}
        <p>
        {{ element.title }}
        {{ element.createdAt | date}}
        {{ element.description }}
        </p>
    {% endfor %}
{% endblock %}