{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>{{ project.nom }}</p>
        <a href="{{ path('admin_project_list') }}">Retour à la liste</a>

        <form method="POST" action="{{ path('admin_project_delete', {'id': project.id}) }}">
            <input type="hidden" name="token" value="{{ csrf_token('delete') }}">
            <button type="submit">Supprimer</button>
        </form>
    </div>
{% endblock %}