{% extends 'base.html.twig' %}{% block body %}
    <div class="container">
        <h2> Mes demandes de support</h2>
        <table class="table">
            <tr>
                <th>Titre</th>
                <th>Date création</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </table>
    </div>
{% endblock %}

